{{define "content"}}
<p><a href="/">&larr; Back to homepage</a></p>
<h3>Tech I Use</h3>
<p>My submission for <a href="https://uses.tech/" target="_blank">uses.tech</a>. How I work, what gear I use, etc.</p>
<section>
    <h4>Hardware</h4>
    <ul>
	<li>Macbook Pro (M1 Pro; 16GB RAM)</li>
	<li>Logitech K860 Ergo</li>
	<li>MX Master 3S</li>
	<li>LG Ultrafine 27UP850-W</li>
    </ul>
</section>
<section>
    <h4>Software</h4>
    <ul>
	<li>Google Chrome</li>
	<li>Vim (<a href="https://github.com/morgangallant/dotfiles/blob/trunk/vimrc" target="_blank">config</a>)</li>
	<li>Roam Research</li>
	<li>1Password</li>
	<li>Fastmail</li>
	<li><a href="https://mitchellh.com/ghostty" target="_blank">Ghostty</a></li>
	<li>Tailscale</li>
	<li>GitHub</li>
	<li>RescueTime</li>
	<li>Raycast</li>
    </ul>
</section>
<section>
    <h4>Programming Languages</h4>
    <ul>
	<li>Zig for systems work</li>
	<li>Go for server work</li>
    </ul>
</section>
<section>
    <h4>Cloud Infrastructure</h4>
    <ul>
	<li><a href="https://railway.app" target="_blank">Railway</a></li>
	<li><a href="https://cloudflare.com" target="_blank">Cloudflare</a></li>
    </ul>
</section>
<section>
    <h4>Misc</h4>
    <ul>
	<li>Key repeat rate fastest, delay until repeat shortest</li>
	<li>Solid black deskop wallpaper (least distracting)</li>
    </ul>
</section>
{{end}}
